# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Project runtime
cache/
logs/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Virtual environments
venv/
.venv/

# IDE settings
.vscode/
.idea/
